body {
    background-color: rgb(28, 33, 34);
    display: flex;
    flex-direction: column;
    touch-action: manipulation;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#main-container {
    background-color: rgb(120, 117, 114);
    width: 450px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#heading {
    color: rgb(162, 154, 147);
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

canvas {
    border: 3px solid rgb(255, 255, 255);
    background-color: black;
}

#score, #level, #lines {
    display: inline-block;
}

#side-container {
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-canvas canvas {
    margin-bottom: 10px;
}

#game-score, #game-level, #game-lines {
    font-family: Andale Mono, monospace;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

#buttons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

#play, #pause, #restart {
    background-color: rgb(250, 246, 246);
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#play:hover, #pause:hover, #restart:hover {
    background-color: rgb(200, 200, 200);
}

#EH {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
}

#Easy, #Hard {
    font-family: Andale Mono, monospace;
    font-size: 20px;
    color: rgb(10, 10, 10);
    cursor: pointer;
}

#side-arrow {
    background-color: rgb(192, 115, 115);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#side {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#rotateBtn, #moveDownBtn, #moveLeftBtn, #moveRightBtn {
    background-color: rgb(35, 33, 33);
    color: beige;
    font-size: 1.5rem;
    margin: 8%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#rotateBtn:hover, #moveDownBtn:hover, #moveLeftBtn:hover, #moveRightBtn:hover {
    background-color: rgb(50, 50, 50);
}

#startButton, #stopMusicButton {
    background-color: rgb(250, 246, 246);
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 20px;
    display: block;
}

#startButton:hover, #stopMusicButton:hover {
    background-color: rgb(200, 200, 200);
}

#next {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 640px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
    }

    #main-container {
        width: 300px;
        padding: 5px;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    #heading {
        font-size: 20px;
    }

    canvas {
        width: 150px;
        height: auto;
    }

    #side-container {
        width: 100%;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    #EH {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    #Easy, #Hard, #play, #pause, #restart {
        font-size: 15px;
    }

    #game-score, #game-level, #game-lines {
        font-size: 20px;
    }

    #rotateBtn, #moveDownBtn, #moveLeftBtn, #moveRightBtn {
        font-size: 0.8rem;
        margin: 5%;
    }
}
